body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: hsl(246, 79%, 7%);
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

.dic{
  background-color: rgb(248, 196, 64);
}

.div1{
  position: relative;
  height: 80px;
  width: 10px;
  top:15px;
  left: 30px;
}

.div2{
  position: relative;
  height: 10px;
  width: 25px;
  top:5px;
  left: 40px;
}

.div3{
  position: relative;
  height: 10px;
  width: 25px;
  bottom: 75px;
  left: 40px;
}

.div4{
  position: relative;
  height: 10px;
  width: 10px;
  bottom: 75px;
  left: 65px;
}

.div5{
  position: relative;
  height: 10px;
  width: 10px;
  bottom: 35px;
  left: 65px;
}

.div6{
  position: relative;
  height: 40px;
  width: 10px;
  bottom: 85px;
  left: 75px;
}



:root {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.foter{
  position:static;
  color: rgb(255, 106, 0);
}

.sun {
  z-index: -1;
  text-align: center;
  background-color: rgb(255, 106, 0);
  border-radius: 50%; /* creates a circular background */
  height: 110px; /* makes the sun the size of the viewport */
  position:absolute ;
  top:20px;
  left:320px ;
  aspect-ratio: 1 / 1;
  animation: 9s linear 0s infinite alternate sun-rise;
}


@keyframes sun-rise {
  from {
    /* pushes the sun down past the viewport */
    transform: translatex(0vh);
  }
  to {
    /* returns the sun to its default position */
    transform: translatex(40vh);
  }
}

h1 {
  font-size: 5rem;
  
}

footer {
  text-align: right;
  color: midnightblue;
}

.crea{
  color: rgb(255, 85, 0);
}

.left{
  float: left;
}

.right{
  float: right;
  
}

h1, h2, p{
  color: rgb(251, 251, 251);
}

.card{
  display: inline-block;
}

.tile-image{
  width: 300px;
  float: left;
  margin-right: 45px;
  border-radius: 2%;
  
}

.divc{
  width: 45%;
}

@media(max-width:680px){
  .logo{
    width: 100px;
  }

  h1{
    text-align: center;
    font-size: 3.5rem;
  }

  .card{
    display:block;
  }

  .right{
    float:none;
  }
  
  .left{
    float: none;
  }

  .tile-image{
    float: none;
    width: 100%;
  }

  .divc{
    width: 100%;
  }

  .pp{
    text-align: center;
  }

  :root{
    overflow:auto;
    display:block;
    justify-content: center;
  }

  .sun{
    animation: 10s linear 0s infinite alternate sun-rise;
    top: 10px;
    left: 160px;
    
  }
  @keyframes sun-rise {
    from {
      transform: translatex(0vh);
    }
    to {
      transform: translatex(18vh);
    }
  }


}